>*{
    margin: 0;
    padding: 0;

}
#banner{
    background: linear-
    gradient(rgba(0,0,0,0.5),#009688),url(obrazek/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}
.logo{
 width: 500px;
 position: absolute;
 top:4%
 left:10%
}