*{
    margin: 0;
    padding: 0;

}
#banner{
    background: url(obrazek/What-Does-a-60-Year-Old-Man-Want-in-a-Relationship-980x445.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}