.navbar-brand,
.navbar-light {
    font-family: 'Oswald',
        sans-serif;
    font-size: 40px !important;
}

.nav-link,
.navbar-light {
    color: black !important;
    font-family: 'Oswald',
        sans-serif;
    font-size: large;
}

.úvod {
    font-family: 'Oswald',
        sans-serif
}