.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div {
  text-align: justify;
}

.textblok {
  text-align: justify;
  width: 400px;
}

.textobrazek {
  display: flex;
}