.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div {
  text-align: justify;
}

.textblok {
  text-align: justify;
}

.textnimage {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.imageyou {
  display: flex;
  float: left;
  flex-wrap: wrap;
}